p{
    font-size: 14px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* START SIDEBAR */
.sidebar{
    border-right: 1px solid lightgray;
    padding: 0px 20px 0 20px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}

.sidebar-library-list h5{
    margin-bottom: 7px;
    font-size: 0.9rem;
}

.sidebar-list{
    margin-bottom: 10px;
}

.sidebar-search-container{
    margin-top: 20px;
    position: relative;
}

.sidebar-search-icon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 18%;
}

.sidebar-search-container input{
    padding: 5px 10px 5px 30px;
    border-radius: 3px;
    border: 1px solid #7695FF;
}

.sidebar-search-container input:focus{
    outline: none;
    box-shadow: 0 0 0 2px #7695FF;
}
/* END SIDEBAR */

/* START NAVBAR */
.navbar{
    border-bottom: 1px solid lightgray;
    display: flex; 
    padding: 0px 30px;
    background-color: #D4EBF8;
    height: 50px;
    margin-left: 245px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.hamburger-menu{
    height: 100%;
    display: flex;
    align-items: center;
    display: none;
}

.hamburger-menu button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.hamburger-menu button img{
    width: 40px;
}

.song-player-container{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.song-player-buttons{
    display: flex;
    align-items: center;
}

.song-player-buttons button {
    border: none;
    background-color: #D4EBF8;
    cursor: pointer;
}

.song-player-buttons button img{
    width: 1.5rem;
    height: 1.5rem;
}

.song-info-container{
    display: flex;
    width: 40%;
}

.song-info{
    flex: 1;
    text-align: center;
    background-color: #F4F6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-title{
    font-weight: bold;
}

.song-info p{
    margin: 0;
    font-size: 0.8rem;
}

.song-info-container img{
    width: 45px;
    height: 100%;
    object-fit: cover;
}

.song-volume{
    display: flex;
    align-items: center;
}

.song-volume img{
    width: 15px;
    height: 15px;
    object-fit: cover;
}

.user-info-container{
    display: flex;
    align-items: center;
}

.login-button{
    background-color: #7695FF; 
    border: none; 
    border-radius: 7px; 
    padding: 10px; 
    font-size: 14px;
}
/* END NAVBAR */

/* START MAIN */
.main-container{
    flex: 5;
    margin-left: 245px;
}

.main{
    margin-top: 70px;
    padding: 0px 30px 50px 30px;
}

.main-artist{
    margin-top: 50px;
}

.main-content-title{
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    text-align: center;
}
/* END MAIN */


/* START REUSABLE STYLE */
.logo-link{
    text-decoration: none;
}

.default-link{
    text-decoration: none; 
    color: black;
}

.img-text-component{
    display: flex; 
    align-items: center;
}

.img-text-component img{
    width: 25px;
    margin: 0px 10px 0px 10px;
}

.primary-text-color{
    color: #7695FF;
}

.img-text-component .logo{
    width: 40px;
    margin-right: 0;
}

.ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    row-gap: 30px;
    column-gap: 20px;
}

.song-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.song-card:hover .song-card-img, 
.song-card p:hover{
    cursor: pointer;
    filter: brightness(75%);
    text-decoration: underline;
}

.song-card p{
    margin-top: 0px; 
    margin-bottom: 0px;
    color: #758694;
}

.song-card:hover .play-song-btn{
    display: block;
}

.song-card .song-card-img{
    width: 100%; 
    border-radius: 10px;
    margin-bottom: 5px;
}

.play-song-btn{
    position: absolute;
    left: 4%;
    bottom: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px; 
    border: none;
    border-radius: 100%;
    display: none;
    cursor: pointer;
    padding: 5px;
}

.play-song-btn:hover{
    background-color: #7695FF;
}

.play-song-btn img{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}

.music-player-bar{
    display: flex; 
    padding: 0px 30px;
    background-color: #D4EBF8;
    height: 50px;
    margin-left: 245px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 1;
}

/* END REUSABLE STYLE */


/* START RESPONSIVE STYLE */
@media (max-width: 640px){
    .sidebar{
        display: none;
    }

    .main-container{
        margin-left: 0;
    }

    .navbar{
        margin-left: 0;
        justify-content: space-between;
    }

    .hamburger-menu{
        display: flex;
    }

    .song-player-container{
        display: none;
    }

    .play-song-btn{
        bottom: 14%;
        width: 50px;
        height: 50px;
    }

    .play-solid-btn img{
        width: 40px;
        height: 40px;
    }

    .music-player-bar{
        margin-left: 0;
        display: flex;
    }

    .music-player-bar .song-player-container{
        display: flex;
    }

    .music-player-bar .song-info-container{
        width: 100%;
    }
}

/* END RESPONSIVE STYLE */






